.button{
	align-items: center;
	display: flex;
	justify-content: center;
	border: none;
	padding: 0.8rem;
	border-radius: 0.5rem;
	width: 22rem;
	margin-top: 3rem;
	cursor: pointer;
}

.button:hover{
	filter: brightness(80%);
	transition: all 0.1s ease-in-out;
}

.green{
	background-color: var(--primary);
	color: var(--text-over-primary);

}

.red{
	background-color: var(--error);
	color: var(--text-over-error);
}